#cart-widget > span {
  color: pink;
  padding-left: 1rem;
  font-weight: 900;
}

.navBar {
  padding: 0;
}

.precio {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}

.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item-count button,
.agregar-al-carrito {
  background-color: cyan;
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: 0.2s;
}

.item-count button:hover,
.agregar-al-carrito:hover {
  background-color: white;
  color: black;
}

.agregar-al-carrito {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}
